
@{
    ViewBag.Title = "Order";
}

@*<h2>Order</h2>*@

@*@model IEnumerable<Project_sem_3.Models.InsurancePackage>
    @using Project_sem_3.Models
    @{

        Layout = "~/Views/Shared/_Layout.cshtml";
    }*@



<section>
    <div class="banner">

    </div>

</section>


<div class="container1" style="margin-left:10%;margin-right:10%;margin-top:7% ;margin-bottom:7%">
    <div class="hd-info-pro">
        PLEASE ENTER iNFORMATION
    </div>

    @*<form action="/HomeInsurance/CreateContract"  method="get">*@
    <form action="#" onsubmit="return validation()" class="bg-light">
        <div class="row">
            <div class="form-basic-information">
                <div class="col-lg-9 col-md-8 col-sm-12">
                    <div style="padding-top:30px" class="form-group">
                        <label style="padding-left:83px;padding-top:5px" for="exampleInputPassword1" class="col-sm-2 col-form-label">Name:</label>
                        <div class="col-md-7">
                            <input style="height:43px" type="text" name="name" class="form-control" id="Name" autocomplete="off" placeholder="Name">
                            <span id="usererror" class="text-danger font-weight-bold"></span>
                        </div>
                    </div>
                    @*<div  class="form-group ">
                            <label for="exampleInputPassword1" class="col-sm-2 col-form-label">Pull Name:</label>
                            <div class="col-md-4">
                                <input style="height:43px" type="password" class="form-control" id="exampleInputPullName" autocomplete="off" placeholder="Pull Name">
                            </div>
                        </div>*@
                    <div style="margin-top:89px;overflow:hidden" class="form-group  ">
                        <label style="padding-left:89px;padding-top:5px" for="exampleInputPassword1" class="col-sm-2 col-form-label">Email:</label>
                        <div class="col-md-8">
                            <input style="height:43px" type="text" name="email" class="form-control" id="emails" placeholder="Email">
                            <span id="username" class="text-danger font-weight-bold"></span>
                        </div>
                    </div>
                    <div style="margin-top:50px" class="form-group  ">
                        <label style="padding-left:50px;padding-top:5px" for="exampleInputPassword1" class="col-sm-2 col-form-label">Date_Iden:</label>
                        <div class="col-md-4">
                            <input style="height:43px" type="text" name="Date_Iden" class="form-control" id="date_iden" autocomplete="off" placeholder="Date_Iden">
                            <span id="Date_error" class="text-danger font-weight-bold"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label style="padding-left:44px;padding-top:5px" for="exampleInputPassword1" class="col-sm-2 col-form-label">Place_Iden:</label>
                        <div class="col-md-4" style="overflow: hidden">
                            @*<input style="height:43px" type="password" class="form-control" id="exampleInputPlace_Iden" autocomplete="off" placeholder="Place_Iden">*@
                            <span id="place_error" class="text-danger font-weight-bold"></span>
                            <select style="height:43px" _ngcontent-c5="" id="place_iden" name=" Place_Iden" required="" class="form-control default ng-pristine ng-invalid ng-touched">
                                <option _ngcontent-c5="" disabled="" selected="" value="">Place_Iden</option>
                                <!---->
                                <option _ngcontent-c5="" value="04">HÀ NỘI</option>
                                <option _ngcontent-c5="" value="08">HỒ CHÍ MINH</option>
                                <option _ngcontent-c5="" value="DN">ĐÀ NẴNG</option>
                                <option _ngcontent-c5="" value="61">ĐỒNG NAI</option>
                                <option _ngcontent-c5="" value="31">HẢI PHÒNG</option>
                                <option _ngcontent-c5="" value="76">AN GIANG</option>
                                <option _ngcontent-c5="" value="BG">BẮC GIANG</option>
                                <option _ngcontent-c5="" value="BC">BẮC KẠN</option>
                                <option _ngcontent-c5="" value="BN">BẮC NINH</option>
                                <option _ngcontent-c5="" value="BL">BẠC LIÊU</option>
                                <option _ngcontent-c5="" value="64">BÀ RỊA-VŨNG TÀU</option>
                                <option _ngcontent-c5="" value="75">BẾN TRE</option>
                                <option _ngcontent-c5="" value="56">BÌNH ĐỊNH</option>
                                <option _ngcontent-c5="" value="BD">BÌNH DƯƠNG</option>
                                <option _ngcontent-c5="" value="BP">BÌNH PHƯỚC</option>
                                <option _ngcontent-c5="" value="62">BÌNH THUẬN</option>
                                <option _ngcontent-c5="" value="26">CAO BẰNG</option>
                                <option _ngcontent-c5="" value="71">CẦN THƠ</option>
                                <option _ngcontent-c5="" value="CM">CÀ MAU</option>
                                <option _ngcontent-c5="" value="50">ĐĂK LĂK</option>
                                <option _ngcontent-c5="" value="DA">ĐĂK NÔNG</option>
                                <option _ngcontent-c5="" value="DB">ĐIỆN BIÊN</option>
                                <option _ngcontent-c5="" value="67">ĐỒNG THÁP</option>
                                <option _ngcontent-c5="" value="59">GIA LAI</option>
                                <option _ngcontent-c5="" value="HD">HẢI DƯƠNG</option>
                                <option _ngcontent-c5="" value="HG">HẬU GIANG</option>
                                <option _ngcontent-c5="" value="19">HÀ GIANG</option>
                                <option _ngcontent-c5="" value="HN">HÀ NAM</option>
                                <option _ngcontent-c5="" value="39">HÀ TĨNH</option>
                                <option _ngcontent-c5="" value="18">HÒA BÌNH</option>
                                <option _ngcontent-c5="" value="HY">HƯNG YÊN</option>
                                <option _ngcontent-c5="" value="58">KHÁNH HÒA</option>
                                <option _ngcontent-c5="" value="77">KIÊN GIANG</option>
                                <option _ngcontent-c5="" value="60">KON TUM</option>
                                <option _ngcontent-c5="" value="25">LẠNG SƠN</option>
                                <option _ngcontent-c5="" value="23">LAI CHÂU</option>
                                <option _ngcontent-c5="" value="63">LÂM ĐỒNG</option>
                                <option _ngcontent-c5="" value="20">LÀO CAI</option>
                                <option _ngcontent-c5="" value="72">LONG AN</option>
                                <option _ngcontent-c5="" value="ND">NAM ĐỊNH</option>
                                <option _ngcontent-c5="" value="38">NGHỆ AN</option>
                                <option _ngcontent-c5="" value="30">NINH BÌNH</option>
                                <option _ngcontent-c5="" value="68">NINH THUẬN</option>
                                <option _ngcontent-c5="" value="PT">PHÚ THỌ</option>
                                <option _ngcontent-c5="" value="57">PHÚ YÊN</option>
                                <option _ngcontent-c5="" value="52">QUẢNG BÌNH</option>
                                <option _ngcontent-c5="" value="QN">QUẢNG NAM</option>
                                <option _ngcontent-c5="" value="55">QUẢNG NGÃI</option>
                                <option _ngcontent-c5="" value="33">QUẢNG NINH</option>
                                <option _ngcontent-c5="" value="53">QUẢNG TRỊ</option>
                                <option _ngcontent-c5="" value="79">SÓC TRĂNG</option>
                                <option _ngcontent-c5="" value="22">SƠN LA</option>
                                <option _ngcontent-c5="" value="66">TÂY NINH</option>
                                <option _ngcontent-c5="" value="36">THÁI BÌNH</option>
                                <option _ngcontent-c5="" value="TN">THÁI NGUYÊN</option>
                                <option _ngcontent-c5="" value="37">THANH HÓA</option>
                                <option _ngcontent-c5="" value="54">THỪA THIÊN HUẾ</option>
                                <option _ngcontent-c5="" value="73">TIỀN GIANG</option>
                                <option _ngcontent-c5="" value="74">TRÀ VINH</option>
                                <option _ngcontent-c5="" value="27">TUYÊN QUANG</option>
                                <option _ngcontent-c5="" value="70">VĨNH LONG</option>
                                <option _ngcontent-c5="" value="VP">VĨNH PHÚC</option>
                                <option _ngcontent-c5="" value="29">YÊN BÁI</option>
                                <option _ngcontent-c5="" value="99">KHÁC</option>
                            </select>
                        </div>
                    </div>

                    <div style="margin-top:130px" class="form-group  ">
                        <label style="padding-top:5px" for="exampleInputPassword1" class="col-sm-2 col-form-label">PhoneNumber:</label>
                        <div class="col-md-8" style="overflow:hidden">
                            <input style="height:45px" type="password" class="form-control" id="exampleInputPhoneNumber" autocomplete="off" placeholder="PhoneNumber">
                            <span id="PhoneNumbererror" class="text-danger font-weight-bold"></span>
                        </div>
                    </div>

                    <div style="padding-top:82px" class="form-group">
                        <label style="padding-left:100px;padding-top:5px" for="exampleInputPassword1" class="col-sm-2 col-form-label">job:</label>
                        <div class="col-md-4">
                            <input style="height:43px" type="text" name="Job" class="form-control" id="job" autocomplete="off" placeholder="job">
                            <span id="joberror" class="text-danger font-weight-bold"></span>
                        </div>
                    </div>
                    <div style="" class="form-group ">
                        <label style="padding-left:29px;padding-top:5px" for="exampleInputPassword1" class="col-md-2 col-form-label">IdentityCard:</label>
                        <div class="col-md-4">
                            <input style="height:43px" type="text" name="IdentityCard" class="form-control" id="identityCard" autocomplete="off" placeholder="IdentityCard">
                            <span id="IdentityCarderror" class="text-danger font-weight-bold"></span>
                        </div>
                    </div>

                    @*<div style="margin-top:-20px" class="form-group ">
                            <label for="exampleInputPassword1" class="col-sm-2 col-form-label">Password</label>
                            <div class="col-md-4">
                                <input type="password" class="form-control" id="exampleInputPassword1">
                            </div>
                        </div>
                        <div style="margin-top:70px; overflow: hidden" class="form-group  ">
                            <label for="exampleInputPassword1" class="col-sm-2 col-form-label">Password</label>
                            <div class="col-md-8">
                                <input type="password" class="form-control" id="exampleInputPassword1">
                            </div>
                        </div>*@







                    @*<div class="form-group row">
                            <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
                            <div class="col-md-4">
                                <input type="password" class="form-control" id="inputPassword">
                            </div>
                        </div>*@




                    @*<div class="form-group form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Check me out</label>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>*@

                </div>
            </div>


            <div class="col-lg-3 col-md-4 col-sm-12">
                <div class="hd-info-pro">INSURANCE FEES</div>
                <div class="result">
                    <div class="item-result">
                        <span>Total fee (including VAT):</span>
                        <strong><label for="ctl18_lblTotalPremiumIcludeVAT" id="ctl18_lblTotalPremiumIcludeVAT">$0</label></strong>
                    </div>
                    <div id="ctl18_Promotions1_pnPromotions">


                        <div class="item-result">
                            <span>Discount amount:</span>
                            <strong><label for="ctl18_Promotions1_lblPromotionsPercent" id="ctl18_Promotions1_lblPromotionsPercent">$0</label></strong>
                        </div>
                        <div class="result-red">
                            <div>Total net charge (including VAT) actually collected:</div>

                            <strong><label for="ctl18_Promotions1_lblHasToPayPremium" id="ctl18_Promotions1_lblHasToPayPremium">$0</label></strong>
                        </div>
                        @*<input id="ctl18_lbtBook" style="text-decoration:none" type="submit" value="Order" class="btn-pro-buynow" href="/HouseInsurance/CreateContract" />*@
                        <input type="submit" name="submit" value="submit" class="btn btn-success" />
                    </div>
                </div>
            </div>

        </div>
        <div class="box-chuy col-12">
            <div class="title-box-chuy"><i class="icon-bell" aria-hidden="true"></i> TUTORIAL: </div>
            <div class="cotent-box-chuy">
                <div class="cotent-text"> Select coverage: By default, when you buy private home insurance, you will have to buy basic benefits (fire, explosion). You can choose to buy 2 additional benefits 1, 2 by CHECK on benefits. </div>
                <div class="cotent-text"> You enter the required website information: the type of house, the number of years used, the amount of insurance for the house, the property in the house, you will see the total premium.</div>
                <div class="cotent-text"> If you agree to order, please click  <b>[Continue]</b> to move to the next order. </div>
            </div>
        </div>
    </form>
</div>

<style>
    .form-information {
        margin-top: 20px
    }




    .box-chuy {
        margin-top: 20px;
    }

        .box-chuy .title-box-chuy {
            font-size: 16px;
            font-family: "unset";
            text-transform: uppercase;
            padding-bottom: 5px;
            margin-bottom: 20px;
            background-color: #f5f5f5;
            padding: 10px;
        }

    .icon-bell {
        background: url(https://www.iconsdb.com/icons/preview/red/bell-3-xxl.png) no-repeat left .75rem center/15px 15px;
        padding: 0px 0px 0px 30px;
    }

    .cotent-box-chuy {
        font-size: 16px;
        line-height: 22px;
        padding-left: 10px;
    }

        .cotent-box-chuy > div {
            margin-bottom: 7px;
        }

    .cotent-text {
        background: url(https://baohiemtructuyen.com.vn/images/sub_menu_bullet.png) no-repeat 0 11px;
        padding: 2px 0 5px 15px;
    }

    .thumb {
        width: 1300px;
        height: 300px;
        background-color: #3e3e3e;
        background-image: none;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }

    .subslide {
        max-width: fit-content;
        position: relative;
        margin: auto;
    }

    .shadow {
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
    }

    .box-border-pro {
        position: relative;
        background: #fff;
        border: 1px solid #e4e4e4;
        padding: 25px;
    }

    .tab-pro {
        font-size: large;
        padding: 0;
        text-align: center;
        background-color: #f0f0f0;
        border-radius: 5px;
    }

        .tab-pro li.active a {
            background-color: #0b665a;
            display: inline-block;
            color: #fff;
            padding: 15px;
        }

        .tab-pro li a {
            display: inline-block;
            padding: 15px;
        }

            .tab-pro li a:hover {
                background-color: #0b665a;
                color: #fff;
            }

        .tab-pro li {
            display: inline-block;
        }

    label {
        display: inline;
        max-width: 100%;
        margin-bottom: 5px;
        font-weight: 300;
    }

    .form-group {
        margin-bottom: -12px
    }

    #ctl18_fullname {
        width: 60%
    }
    /*.form-basic-information .validation-error{
    display: block;
    color: #ed1b2e;
    font-size: 12px;
    padding-left: 12px
    }*/

    #ctl18_txtAddress {
        width: 70%;
        height: 124px
    }

    #ctl18_plates {
        width: 67%
    }

    #ctl18_ChassisNumber {
        width: 40%
    }

    #ctl18_ChassisEmail {
        width: 70%
    }

    #ctl18_ChassisIdentityCard {
        width: 45%
    }

    #ctl18_ChassisDateOfIdentityCard {
        width: 50%
    }

    #ctl18_ChassisPlaceOfIdentityCard {
        width: 55%
    }



    #datepicker {
        width: 55%
    }

    .mb-15 {
        margin-bottom: 15px;
    }

    .hd-info-pro {
        background-color: #0f75bd;
        color: #fff;
        font-family: inherit;
        text-transform: uppercase;
        font-size: 15px;
        padding: 15px;
        border-bottom: solid 1px #fff
    }

    .tab-pane.active {
        display: block;
        margin-bottom: 42px;
    }

    .tab-pane {
        display: none;
        opacity: 1;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .list-header {
        border-bottom-width: 1px;
        background-color: #0b665a;
        font-size: 14px;
        color: #fff;
        padding: .75rem;
        font-weight: bold;
        border: solid 1px #fff;
    }

    .box-border-pro {
        position: relative;
        background: #fff;
        border: 1px solid #e4e4e4;
        padding: 25px;
    }

    .frmpro {
        width: 100%;
        color: #3e3e3e;
    }

    .frm .custom-control-label {
        font-size: 16px;
        line-height: 24px;
        margin-top: 10px;
    }

    .frm .custom-control-input:checked ~ .custom-control-label::before {
        background-color: #0b665a;
        border-color: #0b665a;
    }

    .frmpro .col-form-label {
        line-height: 1.7em;
        font-size: 18px;
        color: #3e3e3e;
    }

    .col-form-label-first {
        text-align: right;
    }

    .frmpro i {
        font-size: 12px;
        line-height: normal !important;
    }

    .pad-top-5 {
        display: block;
        padding-top: 5px;
    }

    .btn-pro {
        background-color: #ea212d;
        padding: 12px;
        padding-left: 0;
        padding-right: 0;
        border: none;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        color: #fff;
        font-weight: 700;
        width: 100%;
        transition: all 0.15s ease-in-out;
        font-size: large;
    }

    .btn-pro-buynow {
        display: block;
        width: 100%;
        background-color: #0b665a;
        padding: 11px;
        padding-bottom: 14px;
        padding-left: 0px;
        padding-right: 0px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        color: #fff;
        font-family: "Helb";
        text-align: center;
        margin-top: 5px;
        border: none;
        font-size: large;
    }

    .banner {
        width: 100%;
        height: 600px;
        background-image: url(https://insurancequotes2day.com/wp-content/uploads/2017/05/life-insurance-for-seniors.jpg);
        background-position: center center;
        background-size: cover;
    }

    .m-0 {
        margin: 0 !important;
    }

    .btn-pro-buynow:hover {
        background-color: #ea212d;
        color: #fff;
    }

    .btn-pro:hover {
        background-color: #0b665a;
        color: #fff;
    }

    .frmpro .txt {
        padding: .375rem .75rem;
    }

    .frm .txt {
        padding: 14px;
        border: solid 2px #c8c8c8;
    }

    .frm .form-control {
        height: calc(3em + 0.75rem + 4px);
    }

    .icondate {
        position: absolute;
        right: 385px;
        top: 13px;
        background-image: url("https://baohiemtructuyen.com.vn/images/icon/cal.png");
        background-repeat: no-repeat;
        width: 26px;
        height: 26px;
    }

    .result {
        background-color: #f7f7f7;
    }

        .result .item-result {
            padding-top: 10px;
            padding-bottom: 10px;
            border-bottom: solid 1px #c8c8c8;
            padding-left: 15px;
            padding-right: 15px;
        }

            .result .item-result span {
                display: block;
                font-size: 14px;
                color: #7c7c7c;
            }

    .result-red {
        background-color: #ea212d;
        color: #fff;
        font-family: "Helb";
        text-align: center;
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 0px;
        padding-right: 0px;
        font-size: large;
    }

        .result-red strong {
            font-weight: normal;
            font-size: 20px;
        }
</style>
@section Scripts {
    <script>
            $("input[name=insurancePackageId]") // select the radio by its id
                .change(function () { // bind a function to the change event
                    if ($(this).is(":checked")) { // check if the radio is checked
                        var val = $(this).attr("class"); // retrieve the value
                        var valint = parseInt(val)
                        var ttt = valint.toLocaleString('en-US', { style: 'currency', currency: 'USD' });

                        $('#ctl18_Promotions1_lblHasToPayPremium').text(ttt)
                    }
                });
        </script>

    @*<p id="demo"></p>

        <script>
        function myFunction() {
          var inpObj = document.getElementById("id1");
          if (!inpObj.checkValidity()) {
            document.getElementById("demo").innerHTML = inpObj.validationMessage;
          } else {
            document.getElementById("demo").innerHTML = "";
          }
        }
        </script>*@
   
    <script>
        function validation() {
            var user = document.getElementById('Name').value;
            if (user == "") {
                document.getElementById('username').innerHTML = "**please fill ";
                return false;
            }



        }


    </script>

    @*<script type="text/javascript">
        function validation() {
             var exampleInputName = document.getElementById('exampleInputName').value;
             var exampleInputEmail = document.getElementById('exampleInputEmail').value;
             var exampleInputDate_Iden = document.getElementById('exampleInputDate_Iden').value;
             var exampleInputPhoneNumber = document.getElementById('exampleInputPhoneNumber').value;
             var exampleInputjob = document.getElementById('exampleInputjob').value;
            var exampleInputIdentityCard = document.getElementById('exampleInputIdentityCard').value;
            var usercheck = /^[A-Za-z. ]{3,30}$/;
            var phonecheck = /^[789]{0-9}{9}$/;
            if (usercheck.test(exampleInputName)) {
                document.getElementById('usererror').innerHTML = "";

            } else {
                document.getElementById('usererror').innerHTML = "**username is Invalid";
                return false;

            }





        }


        </script>*@




}

