@model IEnumerable<Project_sem_3.Models.InsurancePackage>
@using Project_sem_3.Models
@{
    ViewBag.Title = "Order";
    Layout = "~/Views/Shared/_Layout.cshtml";
}







<style>
    .form-order-life-insurance {
        background: #fdfdfd;
    }

        .form-order-life-insurance .form-group {
            display: flex;
        }

            .form-order-life-insurance .form-group label {
                line-height: 36px;
                min-width: 100px;
                font-size: 14px;
                text-align: end;
                margin-right: 8px;
            }

    .my_date_picker {
        position: relative;
    }

        .my_date_picker::before {
            position: absolute;
            content: "\f073";
            font-family: FontAwesome;
            right: 22px;
            top: 7px;
            /*z-index: 0;
                pointer-events: none;*/
        }

    .ui-widget-header {
        background: #ff9f9f;
    }

    .form-information {
        margin-top: 20px
    }




    .box-chuy {
        margin-top: 20px;
    }

        .box-chuy .title-box-chuy {
            font-size: 16px;
            font-family: "unset";
            text-transform: uppercase;
            padding-bottom: 5px;
            margin-bottom: 20px;
            background-color: #f5f5f5;
            padding: 10px;
        }

    .icon-bell {
        background: url(https://www.iconsdb.com/icons/preview/red/bell-3-xxl.png) no-repeat left .75rem center/15px 15px;
        padding: 0px 0px 0px 30px;
    }

    .cotent-box-chuy {
        font-size: 16px;
        line-height: 22px;
        padding-left: 10px;
    }

        .cotent-box-chuy > div {
            margin-bottom: 7px;
        }

    .cotent-text {
        background: url(https://baohiemtructuyen.com.vn/images/sub_menu_bullet.png) no-repeat 0 11px;
        padding: 2px 0 5px 15px;
    }

    .thumb {
        width: 1300px;
        height: 300px;
        background-color: #3e3e3e;
        background-image: none;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }

    .subslide {
        max-width: fit-content;
        position: relative;
        margin: auto;
    }

    .shadow {
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
    }

    .box-border-pro {
        position: relative;
        background: #fff;
        border: 1px solid #e4e4e4;
        padding: 25px;
    }

    .tab-pro {
        font-size: large;
        padding: 0;
        text-align: center;
        background-color: #f0f0f0;
        border-radius: 5px;
    }

        .tab-pro li.active a {
            background-color: #0b665a;
            display: inline-block;
            color: #fff;
            padding: 15px;
        }

        .tab-pro li a {
            display: inline-block;
            padding: 15px;
        }

            .tab-pro li a:hover {
                background-color: #0b665a;
                color: #fff;
            }

        .tab-pro li {
            display: inline-block;
        }

    label {
        display: inline;
        max-width: 100%;
        margin-bottom: 5px;
        font-weight: 300;
    }



    #ctl18_fullname {
        width: 60%
    }
    /*.form-basic-information .validation-error{
        display: block;
        color: #ed1b2e;
        font-size: 12px;
        padding-left: 12px
        }*/

    #ctl18_txtAddress {
        width: 70%;
        height: 124px
    }

    #ctl18_plates {
        width: 67%
    }

    #ctl18_ChassisNumber {
        width: 40%
    }

    #ctl18_ChassisEmail {
        width: 70%
    }

    #ctl18_ChassisIdentityCard {
        width: 45%
    }

    #ctl18_ChassisDateOfIdentityCard {
        width: 50%
    }

    #ctl18_ChassisPlaceOfIdentityCard {
        width: 55%
    }



    #datepicker {
        width: 55%
    }

    .mb-15 {
        margin-bottom: 15px;
    }

    .hd-info-pro {
        background-color: #0f75bd;
        color: #fff;
        font-family: inherit;
        text-transform: uppercase;
        font-size: 15px;
        padding: 15px;
        border-bottom: solid 1px #fff
    }

    .tab-pane.active {
        display: block;
        margin-bottom: 42px;
    }

    .tab-pane {
        display: none;
        opacity: 1;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .list-header {
        border-bottom-width: 1px;
        background-color: #0b665a;
        font-size: 14px;
        color: #fff;
        padding: .75rem;
        font-weight: bold;
        border: solid 1px #fff;
    }

    .box-border-pro {
        position: relative;
        background: #fff;
        border: 1px solid #e4e4e4;
        padding: 25px;
    }

    .frmpro {
        width: 100%;
        color: #3e3e3e;
    }

    .frm .custom-control-label {
        font-size: 16px;
        line-height: 24px;
        margin-top: 10px;
    }

    .frm .custom-control-input:checked ~ .custom-control-label::before {
        background-color: #0b665a;
        border-color: #0b665a;
    }

    .frmpro .col-form-label {
        line-height: 1.7em;
        font-size: 18px;
        color: #3e3e3e;
    }

    .col-form-label-first {
        text-align: right;
    }

    .frmpro i {
        font-size: 12px;
        line-height: normal !important;
    }

    .pad-top-5 {
        display: block;
        padding-top: 5px;
    }

    .btn-pro {
        background-color: #ea212d;
        padding: 12px;
        padding-left: 0;
        padding-right: 0;
        border: none;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        color: #fff;
        font-weight: 700;
        width: 100%;
        transition: all 0.15s ease-in-out;
        font-size: large;
    }

    .btn-pro-buynow {
        display: block;
        width: 100%;
        background-color: #0b665a;
        padding: 11px;
        padding-bottom: 14px;
        padding-left: 0px;
        padding-right: 0px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        color: #fff;
        font-family: "Helb";
        text-align: center;
        margin-top: 5px;
        border: none;
        font-size: large;
    }

    .banner {
        width: 100%;
        height: 600px;
        background-image: url(https://insurancequotes2day.com/wp-content/uploads/2017/05/life-insurance-for-seniors.jpg);
        background-position: center center;
        background-size: cover;
    }

    .m-0 {
        margin: 0 !important;
    }

    .btn-pro-buynow:hover {
        background-color: #ea212d;
        color: #fff;
    }

    .btn-pro:hover {
        background-color: #0b665a;
        color: #fff;
    }

    .frmpro .txt {
        padding: .375rem .75rem;
    }

    .frm .txt {
        padding: 14px;
        border: solid 2px #c8c8c8;
    }

    .frm .form-control {
        height: calc(3em + 0.75rem + 4px);
    }

    .icondate {
        position: absolute;
        right: 385px;
        top: 13px;
        background-image: url("https://baohiemtructuyen.com.vn/images/icon/cal.png");
        background-repeat: no-repeat;
        width: 26px;
        height: 26px;
    }

    .result {
        background-color: #f7f7f7;
    }

        .result .item-result {
            padding-top: 10px;
            padding-bottom: 10px;
            border-bottom: solid 1px #c8c8c8;
            padding-left: 15px;
            padding-right: 15px;
        }

            .result .item-result span {
                display: block;
                font-size: 14px;
                color: #7c7c7c;
            }

    .result-red {
        background-color: #ea212d;
        color: #fff;
        font-family: "Helb";
        text-align: center;
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 0px;
        padding-right: 0px;
        font-size: large;
    }

        .result-red strong {
            font-weight: normal;
            font-size: 20px;
        }
</style>
<section>
    <div class="banner">

    </div>

</section>


<div class="container1" style="margin-left:10%;margin-right:10%;margin-top:7% ;margin-bottom:7%">
    <div class="hd-info-pro">
        PLEASE ENTER iNFORMATION
    </div>

    <form id="son" action="/LifeInsurance/CreateContract" method="post">
        <div class="row">
                @foreach (var item in Model)
                {
                    <div _ngcontent-c5="" class="app-checkbox agree-with-term">
                        <label for="muhRadio4"><input type="radio" class="@item.Price" id='rdbPackage_1' value='@item.Id' name="insurancePackageId" required /></label>                                                           @*<input _ngcontent-c5="" id="choose1" name="choose1" type="checkbox"> <label _ngcontent-c5="" for="choose1">*@
                        <span _ngcontent-c5="" class="checkout-term">@item.Name</span>
                    </div>
                }
            <div class="form-basic-information">
                <div style="padding: 12px 24px" class="row col-lg-9 col-md-8 col-sm-12">
                    <div class="form-group col-md-6">
                        <label class="col-form-label">Name</label>
                        <input type="text" name="name" class="form-control" id="Name" autocomplete="off" placeholder="Name">
                    </div>
                    <div class="form-group col-md-6">
                        <label class="col-form-label">Email</label>
                        <input type="text" name="email" class="form-control" id="emails" placeholder="Email">
                    </div>
                    <div class="form-group col-md-6">
                        <label class="col-form-label">Address</label>
                        <input type="text" name="address" class="form-control" id="address" placeholder="Email">
                    </div>
                    <div class="form-group col-md-6 my_date_picker">
                        <label class="col-form-label">Date</label>
                        <input type="text" name="Date_Iden" class="form-control" id="date_iden" autocomplete="off" placeholder="Date ">
                    </div>
                    <div class="form-group col-md-6">
                        <label class="col-form-label">Place</label>
                        <select id="place_iden" name="Place_Iden" required="" class="form-control default ng-pristine ng-invalid ng-touched">
                            <option disabled="" selected="" value="">Place</option>
                            <option value="HÀ NỘI">HÀ NỘI</option>
                            <option value="HỒ CHÍ MINH">HỒ CHÍ MINH</option>
                            <option value="ĐÀ NẴNG">ĐÀ NẴNG</option>
                            <option value="ĐỒNG NAI">ĐỒNG NAI</option>
                            <option value="HẢI PHÒNG">HẢI PHÒNG</option>
                            <option value="AN GIANG">AN GIANG</option>
                            <option value="BẮC GIANG">BẮC GIANG</option>
                            <option value="BẮC KẠN">BẮC KẠN</option>
                            <option value="BẮC NINH">BẮC NINH</option>
                            <option value="BẠC LIÊU">BẠC LIÊU</option>
                            <option value="BÀ RỊA-VŨNG TÀU">BÀ RỊA-VŨNG TÀU</option>
                            <option value="BẾN TRE">BẾN TRE</option>
                            <option value="BÌNH ĐỊNH">BÌNH ĐỊNH</option>
                            <option value="BÌNH DƯƠNG">BÌNH DƯƠNG</option>
                            <option value="BÌNH PHƯỚC">BÌNH PHƯỚC</option>
                            <option value="BÌNH THUẬN">BÌNH THUẬN</option>
                            <option value="CAO BẰNG">CAO BẰNG</option>
                            <option value="CẦN THƠ">CẦN THƠ</option>
                            <option value="CÀ MAU">CÀ MAU</option>
                            <option value="ĐĂK LĂK">ĐĂK LĂK</option>
                            <option value="ĐĂK NÔNG">ĐĂK NÔNG</option>
                            <option value="ĐIỆN BIÊN">ĐIỆN BIÊN</option>
                            <option value="ĐỒNG THÁP">ĐỒNG THÁP</option>
                            <option value="GIA LAI">GIA LAI</option>
                            <option value="HẢI DƯƠNG">HẢI DƯƠNG</option>
                            <option value="HẬU GIANG">HẬU GIANG</option>
                            <option value="HÀ GIANG">HÀ GIANG</option>
                            <option value="HÀ NAM">HÀ NAM</option>
                            <option value="HÀ TĨNH">HÀ TĨNH</option>
                            <option value="HÒA BÌNH">HÒA BÌNH</option>
                            <option value="HƯNG YÊN">HƯNG YÊN</option>
                            <option value="KHÁNH HÒA">KHÁNH HÒA</option>
                            <option value="KIÊN GIANG">KIÊN GIANG</option>
                            <option value="KON TUM">KON TUM</option>
                            <option value="LẠNG SƠN">LẠNG SƠN</option>
                            <option value="LAI CHÂU">LAI CHÂU</option>
                            <option value="LÂM ĐỒNG">LÂM ĐỒNG</option>
                            <option value="LÀO CAI">LÀO CAI</option>
                            <option value="LONG AN">LONG AN</option>
                            <option value="NAM ĐỊNH">NAM ĐỊNH</option>
                            <option value="NGHỆ AN">NGHỆ AN</option>
                            <option value="NINH BÌNH">NINH BÌNH</option>
                            <option value="NINH THUẬN">NINH THUẬN</option>
                            <option value="PHÚ THỌ">PHÚ THỌ</option>
                            <option value="PHÚ YÊN">PHÚ YÊN</option>
                            <option value="QUẢNG BÌNH">QUẢNG BÌNH</option>
                            <option value="QUẢNG NAM">QUẢNG NAM</option>
                            <option value="QUẢNG NGÃI">QUẢNG NGÃI</option>
                            <option value="33">QUẢNG NINH</option>
                            <option value="QUẢNG NINH">QUẢNG TRỊ</option>
                            <option value="SÓC TRĂNG">SÓC TRĂNG</option>
                            <option value="SƠN LA">SƠN LA</option>
                            <option value="TÂY NINH">TÂY NINH</option>
                            <option value="THÁI BÌNH">THÁI BÌNH</option>
                            <option value="THÁI NGUYÊN">THÁI NGUYÊN</option>
                            <option value="THANH HÓA">THANH HÓA</option>
                            <option value="THỪA THIÊN HUẾ">THỪA THIÊN HUẾ</option>
                            <option value="TIỀN GIANG">TIỀN GIANG</option>
                            <option value="TRÀ VINH">TRÀ VINH</option>
                            <option value="TUYÊN QUANG">TUYÊN QUANG</option>
                            <option value="VĨNH LONG">VĨNH LONG</option>
                            <option value="VĨNH PHÚ">VĨNH PHÚC</option>
                            <option value="YÊN BÁI">YÊN BÁI</option>
                            <option value="KHÁC">KHÁC</option>
                        </select>
                    </div>

                    <div class="form-group col-md-8">
                        <label class="col-form-label">PhoneNumber</label>
                        <input type="p" name="phone" class="form-control" id="exampleInputPhoneNumber" autocomplete="off" placeholder="PhoneNumber">
                    </div>

                    <div class="form-group col-md-4">
                        <label class="col-form-label">Job</label>
                        <input type="text" name="Job" class="form-control" id="job" autocomplete="off" placeholder="job">
                    </div>
                    <div class="form-group col-md-8">
                        <label class="col-form-label">Identity Card</label>
                        <input type="text" name="IdentityCard" class="form-control" id="identityCard" autocomplete="off" placeholder="IdentityCard">
                    </div>


                </div>
            </div>


            <div class="col-lg-3 col-md-4 col-sm-12">
                <div class="hd-info-pro">INSURANCE FEES</div>
                <div class="result">
                    <div class="item-result">
                        <span>Total fee (including VAT):</span>
                        <strong><label for="ctl18_lblTotalPremiumIcludeVAT" id="ctl18_lblTotalPremiumIcludeVAT">$0</label></strong>
                    </div>
                    <div id="ctl18_Promotions1_pnPromotions">


                        <div class="item-result">
                            <span>Discount amount:</span>
                            <strong><label for="ctl18_Promotions1_lblPromotionsPercent" id="ctl18_Promotions1_lblPromotionsPercent">$0</label></strong>
                        </div>
                        <div class="result-red">
                            <div>Total net charge (including VAT) actually collected:</div>

                            <strong><label for="ctl18_Promotions1_lblHasToPayPremium" id="ctl18_Promotions1_lblHasToPayPremium">$0</label></strong>
                        </div>
                        <input type="submit" name="submit" value="submit" class="btn btn-success" />
                    </div>
                </div>
            </div>

        </div>
        <div class="box-chuy col-12">
            <div class="title-box-chuy"><i class="icon-bell" aria-hidden="true"></i> TUTORIAL: </div>
            <div class="cotent-box-chuy">
                <div class="cotent-text"> Select coverage: By default, when you buy private home insurance, you will have to buy basic benefits (fire, explosion). You can choose to buy 2 additional benefits 1, 2 by CHECK on benefits. </div>
                <div class="cotent-text"> You enter the required website information: the type of house, the number of years used, the amount of insurance for the house, the property in the house, you will see the total premium.</div>
                <div class="cotent-text"> If you agree to order, please click <b>[Continue]</b> to move to the next order. </div>
            </div>
        </div>
    </form>

</div>

@section Scripts {
    <script>

        $(document).ready(function () {
            $('#date_iden').datepicker()
            $("input[name=insurancePackageId]")
            .change(function () { 
                if ($(this).is(":checked")) { 
                    var val = $(this).attr("class"); 
                    var valint = parseInt(val)
                    var ttt = valint.toLocaleString('en-US', { style: 'currency', currency: 'USD' });

                    $('#ctl18_Promotions1_lblHasToPayPremium').text(ttt)
                     $('html, body').animate({
                        scrollTop: $("#divnone").offset().top
                    }, 2000);
                }
            });
            $("#son").validate({
                rules: {
                    Date_Iden: "required",
                    email: {
                        required: true,
                        email: true,
                        minlength: 10
                    },
                    name: {
                        required: true,
                        minlength: 2
                    },
                    phone: {
                        required: true,
                        minlength: 10
                    },
                    Job: "required",
                    IdentityCard: {
                        required: true,
                        minlength: 10
                    }

                },
                messages: {
                    Date_Iden: "Please enter date_iden ",
                    email: "Please enter a valid email address",
                    email: "Vui lòng nhập email",
                    name: {
                        required: "Please enter a valid name",
                        minlength: "Địa chỉ ngắn vậy, chém gió ah?"
                    },
                    PhoneNumber: {
                        required: " Please enter a valid Phone Number",
                        minlength: "Your phone is not correct",
                    },
                    IdentityCard: {
                        required: " Please enter IdentityCard",
                        minlength: "Your phone is not correct",
                    },
                    Job: "Please enter a valid job",
                }
            });
        });

    </script>
}

