
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>About</h2>*@
<main class="main-content">
    <div class="breadcrumbs">
        <div class="container">
            <a href="index.html">Home</a>
            <span>About Us</span>
        </div>
    </div>

    <div class="page">
        <div class="fullwidth-block">
            <div class="container">
                <h1 class="entry-title">Why you should choose us?</h1>
                <p>Insurance.com.vn is an online website selling insurance products of BIDV Insurance Corporation (BIC). Products sold on the website are aimed at individual needs, ready to serve 24/7 to save time and effort for you.With baohiemtructuyen.com.vn website, your privacy and freedom of choice are guaranteed at the highest level. You will no longer have to receive unwanted offers, appointments to discuss insurance policies. You can simply access the website, find out information about insurance products, choose an insurance plan that suits you best. The purchase decision is entirely made by the customer.</p>

                <div class="features">
                    <div class="feature-numbered">
                        <div class="num">1</div>
                        <h2 class="feature-title">Proin tempus</h2>
                        <p>Working at universities, economic and financial research institutes. Their daily activities are document research.</p>
                    </div>
                    <div class="feature-numbered">
                        <div class="num">2</div>
                        <h2 class="feature-title">Proin tempus</h2>
                        <p>Financial management officers of insurance companies: Doing the work of accounting, financial analysis, planning financial.</p>
                    </div>
                    <div class="feature-numbered">
                        <div class="num">3</div>
                        <h2 class="feature-title">Proin tempus</h2>
                        <p> Calculating the cost of insurance services, determining financial investment strategies, risk statisticsfor insurance.</p>
                    </div>
                    <div class="feature-numbered">
                        <div class="num">4</div>
                        <h2 class="feature-title">Proin tempus</h2>
                        <p> Research your customers' insurance needs, contact, negotiate and sign insurance contracts, issue applications.</p>
                    </div>
                </div>
            </div> <!-- .container -->
        </div> <!-- .fullwidth-block -->

        <div class="fullwidth-block" data-bg-color="#f1f1f1">
            <div class="container">
                <h2 class="section-title">The history</h2>
                <p>Wherever and in any age, people must take risks. Risk and safety are two attributes of our lives. How to minimize risk? How do you master the risk? It is the eternal question of each individual, organization, state and society. So an economic branch was born, not only to help us solve the above problem, but also to become one of the driving forces stimulating the development of all other socio-economic fields. That is Insurance.</p>
                <p>Today, in Vietnam, insurance is an attractive field for foreign investors. There have been and will be a series of domestic and international insurance companies. sectors: insurance, banking, investment fund management, securities, asset leasing and everywhere. Do not worry about the job, if you really meet the work requirements, you will become an expensive target of many domestic and international insurance companies.</p>
                <p>Working in the insurance industry, you will enter a very exciting working environment with a high pace of international integration and in densely populated areas. This work requires you to be active in both thinking and action. You will not only work permanently in the office of the insurance company but also have to go to factories, factories, companies, households, banks, stock exchanges and even abroad to perform the Its transactions are delivered to you. This job is very interesting, requires high intellectual capacity and also very stressful. You will be paid in accordance with your contributions to the company and have the opportunity to continue training to become an insurance specialist, reputable financial specialist and a high position in your business and in social.</p>
            </div> <!-- .container -->
        </div> <!-- .fullwidth-block -->

        <div class="fullwidth-block">
            <div class="container">
                <h2 class="section-title">Our Team</h2>

                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="team">
                            @*<figure class="team-image"><img src="~/Content/dummy/team-1.jpg" alt=""></figure>*@
                            <figure class="team-image"><img src="~/Content/dummy/About_1.jpg" alt=""></figure>
                            <h2 class="team-name">Jessica Brown</h2>
                            <small class="team-title">CEO</small>
                            <div class="social-links">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                                <a href="#"><i class="fa fa-pinterest"></i></a>
                            </div>
                        </div> <!-- .team -->
                    </div> <!-- .col-md-3 -->
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="team">
                            <figure class="team-image"><img src="~/Content/dummy/About_3 (2).jpg" alt=""></figure>
                            @*<figure class="team-image"><img src="~/Content/dummy/team-2.jpg" alt=""></figure>*@
                            <h2 class="team-name">Jeremy Stuart</h2>
                            <small class="team-title">Managing Director</small>
                            <div class="social-links">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                                <a href="#"><i class="fa fa-pinterest"></i></a>
                            </div>
                        </div> <!-- .team -->
                    </div> <!-- .col-md-3 -->
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="team">
                            @*<figure class="team-image"><img src="~/Content/dummy/team-3.jpg" alt=""></figure>*@
                            <figure class="team-image"><img src="~/Content/dummy/About_3.jpg" alt=""></figure>
                            <h2 class="team-name">Sarah Johnson</h2>
                            <small class="team-title">Public Relation</small>
                            <div class="social-links">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                                <a href="#"><i class="fa fa-pinterest"></i></a>
                            </div>
                        </div> <!-- .team -->
                    </div> <!-- .col-md-3 -->
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="team">
                            @*<figure class="team-image"><img src="~/Content/dummy/team-4.jpg" alt=""></figure>*@
                            <figure class="team-image"><img src="~/Content/dummy/About_4.jpg" alt=""></figure>
                            <h2 class="team-name">Paul ferguson</h2>
                            <small class="team-title">Consultant</small>
                            <div class="social-links">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                                <a href="#"><i class="fa fa-pinterest"></i></a>
                            </div>
                        </div> <!-- .team -->
                    </div> <!-- .col-md-3 -->
                </div> <!-- .row -->
            </div> <!-- .container -->
        </div> <!-- .fullwidth-block -->
    </div> <!-- .page -->
</main>



