@{
    ViewBag.Title = "Index";
}

<section>
    <div class="banner">

    </div>

</section>

<div class="container1" style="margin-left:10%;margin-right:10%;margin-top:5% ;margin-bottom:7%">


    <!-- end left menu -->

    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-9" style="font-size: 18px;">

            <div class="content_3col">
                <div id="ctl19_divdetail">

                    <p>

                        <div class="block_button top_button myriad_pro_semibold">

                            @*<a href="https://localhost:44362/HomeInsurance/Order">CHARGE & ORDER</a>*@

                            <button style="background-color:red;color:white" onclick="location.href='/HomeInsurance/Order'" type="button">

                                Charge & Order
                            </button>

                        </div>
                        <h1 class="myriad_pro_semibold">PRIVATE HOUSE INSURANCE</h1>
                        <div><iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fbaohiemtructuyen.com.vn%2F&width=174&layout=button_count&action=like&size=large&share=true&height=46&appId" width="174" height="46" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe></div>
                        <h2>The insured: </h2>

                    
                    <p>The house (apartment, townhouse / villa) and properties in the house</p>
                    <h2>Coverage:</h2>
                    <p>BIC will indemnify the insured against damages incurred by:</p>
                    <p><strong>Basic risks: </strong></p>
                    <ul>
                        <li> Fire;</li>
                        <li>Lightning strike;</li>
                        <li> Explosive;</li>
                    </ul>
                    <p><strong>Expansion 1:</strong></p>
                    <ul>
                        <li> Thunderstorms, storms, and floods (including overwater); </li>
                        <li>Breakage or overflow from water tanks, water storage devices or water pipes;</li>
                        <li>Bumping station with house;</li>
                        <li> Theft;</li>
                    </ul>
                    <p><strong>Expansion 2:</strong></p>
                    <ul>
                        <li>Field cleaning costs;</li>
                        <li>Fire fighting expenses;</li>
                        <li>Rent a house after a loss.</li>
                    </ul>
                    <h2>Details of benefits & fee schedule:</h2>
                    <h3>1. The material of the house</h3>
                    <table border="0" cellspacing="0" cellpadding="0" width="90%">
                        <tr>
                            <td width="106">
                                <p align="center">
                                    <strong>
                                        Limit of <br />
                                        compensation
                                    </strong>
                                </p>
                            </td>
                            <td width="110">
                                <p align="center">
                                    <strong>
                                        Time<br />
                                        to use
                                    </strong>
                                </p>
                            </td>
                            <td width="97"><p align="center"><strong>Basic fee</strong></p></td>
                            <td width="94"><p align="center"><strong>Expansion 1</strong></p></td>
                            <td width="83"><p align="center"><strong>Expansion 2</strong></p></td>
                            <td width="92">
                                <p align="center">
                                    <strong>
                                        Total<br />
                                        premium
                                    </strong>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td width="106" rowspan="2"><p align="right"> $30</p></td>
                            <td width="110"><p align="center">01 – 15 years</p></td>
                            <td width="97"><p align="right">   $22 </p></td>
                            <td width="94"><p align="right">$45 </p></td>
                            <td width="83"><p align="right">$90 </p></td>
                            <td width="92"><p align="right">$60 </p></td>
                        </tr>
                        <tr>
                            <td width="110"><p align="center">15 – 25 years</p></td>
                            <td width="97"><p align="right">$36 </p></td>
                            <td width="94"><p align="right">$16 </p></td>
                            <td width="83"><p align="right">$12 </p></td>
                            <td width="92"><p align="right">$54</p></td>
                        </tr>
                        <tr>
                            <td width="106" rowspan="2"><p align="right">$50</p></td>
                            <td width="110"><p align="center">01 – 15 years</p></td>
                            <td width="97"><p align="right">   $37 </p></td>
                            <td width="94"><p align="right">     $75 </p></td>
                            <td width="83"><p align="right">   $15 </p></td>
                            <td width="92"><p align="right">$60</p></td>
                        </tr>
                        <tr>
                            <td width="110"><p align="center">15 – 25 years</p></td>
                            <td width="97"><p align="right">$60 </p></td>
                            <td width="94"><p align="right">$10</p></td>
                            <td width="83"><p align="right">$20 </p></td>
                            <td width="92"><p align="right">$90</p></td>
                        </tr>
                        <tr>
                            <td width="106" rowspan="2"><p align="right">$75</p></td>
                            <td width="110"><p align="center">01 – 15 years</p></td>
                            <td width="97"><p align="right">   $56 </p></td>
                            <td width="94"><p align="right">   $12 </p></td>
                            <td width="83"><p align="right">   $22</p></td>
                            <td width="92"><p align="right">$90</p></td>
                        </tr>
                        <tr>
                            <td width="110"><p align="center">15 – 25 years</p></td>
                            <td width="97"><p align="right">$90</p></td>
                            <td width="94"><p align="right">$15</p></td>
                            <td width="83"><p align="right">$30 </p></td>
                            <td width="92"><p align="right">$13</p></td>
                        </tr>
                        <tr>
                            <td width="106" rowspan="2"><p align="right">$10</p></td>
                            <td width="110"><p align="center">01 – 15 years</p></td>
                            <td width="97"><p align="right">$75 </p></td>
                            <td width="94"><p align="right">$15</p></td>
                            <td width="83"><p align="right">$30</p></td>
                            <td width="92"><p align="right">$20</p></td>
                        </tr>
                        <tr>
                            <td width="110"><p align="center">15 – 25 years</p></td>
                            <td width="97"><p align="right">$10</p></td>
                            <td width="94"><p align="right">$20</p></td>
                            <td width="83"><p align="right">$40 </p></td>
                            <td width="92"><p align="right">$30</p></td>
                        </tr>
                        <tr>
                            <td width="106" rowspan="2"><p align="right">$50</p></td>
                            <td width="110"><p align="center">01 – 15 years</p></td>
                            <td width="97"><p align="right">$12</p></td>
                            <td width="94"><p align="right">$22</p></td>
                            <td width="83"><p align="right">$50 </p></td>
                            <td width="92"><p align="right">$80</p></td>
                        </tr>
                        <tr>
                            <td width="110"><p align="center">15 – 25 years</p></td>
                            <td width="97"><p align="right">$18 </p></td>
                            <td width="94"><p align="right">$21 </p></td>
                            <td width="83"><p align="right">$31 </p></td>
                            <td width="92"><p align="right">$22</p></td>
                        </tr>
                        <tr>
                            <td width="106" rowspan="2"><p align="right">$20</p></td>
                            <td width="110"><p align="center">01 – 15 years</p></td>
                            <td width="97"><p align="right">$40</p></td>
                            <td width="94"><p align="right">$30</p></td>
                            <td width="83"><p align="right">$60</p></td>
                            <td width="92"><p align="right">$20</p></td>
                        </tr>
                        <tr>
                            <td width="110"><p align="center">15 – 25 years</p></td>
                            <td width="97"><p align="right">$20</p></td>
                            <td width="94"><p align="right">$40</p></td>
                            <td width="83"><p align="right">480</p></td>
                            <td width="92"><p align="right">$36</p></td>
                        </tr>
                        <tr>
                            <td width="106" rowspan="2"><p align="right">430</p></td>
                            <td width="110"><p align="center">01 – 15 years</p></td>
                            <td width="97"><p align="right">$10</p></td>
                            <td width="94"><p align="right">$45</p></td>
                            <td width="83"><p align="right">$90</p></td>
                            <td width="92"><p align="right">$30</p></td>
                        </tr>
                        <tr>
                            <td width="110"><p align="center">15 – 25 years</p></td>
                            <td width="97"><p align="right">$30 </p></td>
                            <td width="94"><p align="right">$60 </p></td>
                            <td width="83"><p align="right">$20 </p></td>
                            <td width="92"><p align="right">$40</p></td>
                        </tr>
                        <tr>
                            <td width="106" rowspan="2"><p align="right">$30</p></td>
                            <td width="110"><p align="center">01 – 15 years</p></td>
                            <td width="97"><p align="right">$20 </p></td>
                            <td width="94"><p align="right">$40 </p></td>
                            <td width="83"><p align="right">$10 </p></td>
                            <td width="92"><p align="right">$15</p></td>
                        </tr>
                        <tr>
                            <td width="110"><p align="center">15 – 25 years</p></td>
                            <td width="97"><p align="right"> $41 </p></td>
                            <td width="94"><p align="right">$12</p></td>
                            <td width="83"><p align="right">$16 </p></td>
                            <td width="92"><p align="right">$31</p></td>
                        </tr>
                        <tr>
                            <td width="106" rowspan="2"><p align="right">$24</p></td>
                            <td width="110"><p align="center">01 – 15 years</p></td>
                            <td width="97"><p align="right">$30 </p></td>
                            <td width="94"><p align="right">$20  </p></td>
                            <td width="83"><p align="right">$21</p></td>
                            <td width="92"><p align="right">$40</p></td>
                        </tr>
                        <tr>
                            <td width="110"><p align="center">15 – 25 years</p></td>
                            <td width="97"><p align="right">$50</p></td>
                            <td width="94"><p align="right">$10 </p></td>
                            <td width="83"><p align="right">$20 </p></td>
                            <td width="92"><p align="right">$30</p></td>
                        </tr>
                    </table>
                    <h3>2. The property part in the house</h3>
                    <table border="0" cellspacing="0" cellpadding="0" width="90%">
                        <tr>
                            <td width="127" valign="top">
                                <p align="center">
                                    <strong>
                                        Limit of <br />
                                        compensation
                                    </strong>
                                </p>
                            </td>
                            <td width="136" valign="top">
                                <p align="center">
                                    <strong>
                                        Limit compensation of<br />
                                        each item
                                    </strong>
                                </p>
                            </td>
                            <td width="85" valign="top"><p align="center"><strong>Basic fee</strong></p></td>
                            <td width="85" valign="top"><p align="center"><strong>Expansion 1</strong></p></td>
                            <td width="85" valign="top"><p align="center"><strong>Expansion 2</strong></p></td>
                            <td width="87" valign="top">
                                <p align="center">
                                    <strong>
                                        Total<br />
                                        premium
                                    </strong>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td width="127" nowrap="nowrap"><p align="center">$10</p></td>
                            <td width="136" nowrap="nowrap"><p align="center">$50</p></td>
                            <td width="85"><p align="center">$10</p></td>
                            <td width="85"><p align="center">$15</p></td>
                            <td width="85"><p align="center">$35</p></td>
                            <td width="87" nowrap="nowrap"><p align="center">$15</p></td>
                        </tr>
                        <tr>
                            <td width="127" nowrap="nowrap"><p align="center">$30</p></td>
                            <td width="136" nowrap="nowrap"><p align="center">$50</p></td>
                            <td width="85"><p align="center">$30</p></td>
                            <td width="85"><p align="center">$45</p></td>
                            <td width="85"><p align="center">$10</p></td>
                            <td width="87" nowrap="nowrap"><p align="center">$30</p></td>
                        </tr>
                        <tr>
                            <td width="127" nowrap="nowrap"><p align="center">$50</p></td>
                            <td width="136" nowrap="nowrap"><p align="center">$40</p></td>
                            <td width="85"><p align="center">$50</p></td>
                            <td width="85"><p align="center">$75</p></td>
                            <td width="85"><p align="center">$17</p></td>
                            <td width="87" nowrap="nowrap"><p align="center">$35</p></td>
                        </tr>
                        <tr>
                            <td width="127" nowrap="nowrap"><p align="center">$45</p></td>
                            <td width="136" nowrap="nowrap"><p align="center">$50</p></td>
                            <td width="85"><p align="center">$35</p></td>
                            <td width="85"><p align="center">$11</p></td>
                            <td width="85"><p align="center">$26</p></td>
                            <td width="87" nowrap="nowrap"><p align="center">$12</p></td>
                        </tr>
                        <tr>
                            <td width="127" nowrap="nowrap"><p align="center">$34</p></td>
                            <td width="136" nowrap="nowrap"><p align="center">$50</p></td>
                            <td width="85"><p align="center">$23</p></td>
                            <td width="85"><p align="center">$20</p></td>
                            <td width="85"><p align="center">$37</p></td>
                            <td width="87" nowrap="nowrap"><p align="center">$16</p></td>
                        </tr>
                    </table>
                    <h3><strong>Note:</strong></h3>
                    <ul>
                        <li>Basic charge applies to Fire (A) and Explosion (B) risks</li>
                        <li>Expansion fee (1) applies to risks: Thunderstorm (H), Spill (I), Collision with a house (J), Theft </li>
                        <li>Expansion fee (2) applies to risks: Site cleanup cost, Fire cost, Rent after loss</li>
                    </ul>
                    <h2>Download documents and forms:</h2>
                    <ul>
                        <li>
                            <a href="BsioData/san-pham/nha-tu-nhan/1843-QTBH-toan-dien-nha-tu-nhan.pdf" class="normal" target="_blank" style="color: #5548C7">Rules of comprehensive insurance for private houses</a> of BIDV Insurance Corporation.
                        </li>
                    </ul>
                    <p>&nbsp;</p>
                    <h2>See details</h2>
                    <ul>
                        <li><a href="http://baohiemtructuyen.com.vn/bao-hiem-nha-tu-nhan" alt="" style="color:#5548C7;">General information</a></li>
                        <li><a href="http://baohiemtructuyen.com.vn/bao-hiem-nha-tu-nhan-huong-dan-boi-thuong" alt="" style="color:#5548C7;">Compensation guide </a></li>
                    </ul>
                    <div class="block_button myriad_pro_semibold">
                        @*<a href="https://localhost:44362/HomeInsurance/Order">CHARGE & ORDER</a>*@
                        <button style="background-color:crimson;color:white" onclick="location.href='http://www.example.com'" type="button">
                            Charge & Order
                        </button>
                    </div>
                    <div style="margin-top:60px;"></div>

                    <div><iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fbaohiemtructuyen.com.vn%2F&width=174&layout=button_count&action=like&size=large&share=true&height=46&appId" width="174" height="46" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe></div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12 col-right">
            <div class="accordion" id="menuaccordion">
                <div class="subdetail">
                    <div id="ctl19_menu_right"><div class='sub-menuleft' id='menu-18'><a class='' href='' data-toggle='collapse' data-target='#submenu-18' aria-expanded='true' aria-controls='collapseOne'><span>Comprehensive private home insurance</span></a></div><div id='submenu-18' class='collapsed' aria-labelledby='menu-18' data-parent='#menuaccordion'><ul class='menu-left'><li><a href='bao-hiem-nha-tu-nhan' alt='' class='menuleft-act'> General information</a></li><li><a href='bao-hiem-nha-tu-nhan-huong-dan-boi-thuong' alt=''> Compensation guide</a></li></ul></div></div>
                </div>
            </div>

        </div>
    </div>
</div>


<style>
    li {
        margin-top: 2%
    }

    td {
        padding: 15px;
    }

    .subslide {
        max-width: fit-content;
        position: relative;
        margin: auto;
    }

    .shadow {
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
    }

    .breadcumb {
        display: none;
    }

    ul {
        list-style-type: none;
    }

    a {
        text-decoration: none;
        transition: all 0.15s ease-in-out;
        color: #363636;
    }

    .main-content {
        padding-top: 20px;
    }

    .content_3col {
        background: #fff;
        border-radius: 7px;
        -moz-border-radius: 7px;
        padding: 15px 15px;
        font-family: "Roboto Condensed", "Open Sans", sans-serif;
    }

    .block_button {
        margin-top: 20px;
        padding: 0px 0px 20px 0px;
    }

        .block_button a:hover {
            color: #004C50;
        }

        .block_button a {
            background: url(https://baohiemtructuyen.com.vn/images/content_block_button_bg.png) no-repeat;
            color: #FFF;
            font-size: 11px;
            padding: 5px 7px 6px 36px;
            text-transform: uppercase;
        }

    .myriad_pro_semibold a {
        font-weight: bold;
    }

    .content_3col h1 {
        color: #0f75bd;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 18px;
        padding-top: 0px;
        padding-bottom: 10px;
    }

    h1, h2, h3, h4, h5, h6 {
        line-height: normal;
    }

    .content_3col h2 {
        color: #0f75bd;
        font-size: 14px;
        font-weight: bold;
        padding-top: 15px;
        padding-bottom: 10px;
    }

    .content_3col li {
        background: url(https://baohiemtructuyen.com.vn/images/sub_menu_bullet.png) no-repeat 0 11px;
        padding: 2px 0 5px 15px;
        font-size: 17px;
    }

    .content_3col h3 {
        color: #0f75bd;
        font-size: 12px;
        font-weight: bold;
        padding-top: 15px;
        padding-bottom: 5px;
    }

    table {
        border-collapse: collapse;
        border-spacing: 0;
        font: inherit;
        border: 1px solid #D9D9D9;
        background-color: #f7f7f7!important;
    }

        table tr {
            border-bottom: 1px solid #D9D9D9;
        }

        table td {
            border-right: 1px solid #D9D9D9;
            font-size: 12px;
            color: #444;
            padding: 5px;
        }

            table td p {
                line-height: 16px;
                font-size: 15px;
            }

    .col-right {
    }

    #menuaccordion {
        margin-bottom: 15px;
    }

    .sub-menuleft {
        background-color: #0f75bd;
        padding: 12px 10px;
        font-family: serif;
        font-size: 17px;
        color: #fff;
        position: relative;
        border-bottom: solid 1px #fff;
    }

        .sub-menuleft a {
            color: #fff;
            background-image: url(https://baohiemtructuyen.com.vn/images/icon/arr_acc_act.png);
            background-repeat: no-repeat;
            background-position: right center;
            display: block;
            width: 100%;
        }

    .menu-left {
        padding: 0;
        margin: 0;
        border: solid 1px #d7d7d7;
        border-top: none;
    }

        .menu-left li {
            display: block;
            position: relative;
        }

            .menu-left li a.menuleft-act {
                font-weight: 700;
                color: #ea212d;
                background-color: #f5f5f5;
            }

        .menu-left > li > a {
            background-image: url(https://baohiemtructuyen.com.vn/images/ar1.jpg);
            background-repeat: no-repeat;
            background-position: 10px 16px;
        }

        .menu-left li a {
            padding: 10px 15px;
            display: block;
            border-bottom: dotted 1px #d7d7d7;
            font-size: 16px;
            font-family: unset;
            padding-left: 20px;
        }
    
    .banner {
        width: 100%;
        height: 600px;
        background-image: url("https://www.boshers.co.uk/wp-content/uploads/2017/09/bigstock-197233384.jpg");
        background-position: center center;
        background-size: cover;
    }
</style>