
@{
    ViewBag.Title = "Index";
}

    <section>
       <div class="banner">
            
        </div>
      

    </section>

<div class="container1" style="margin-left:10%;margin-right:10%;margin-top:5% ;margin-bottom:7%">

    <div style="clear: both">
    </div>
    <div id="ctl19_divbreadcumb" class="breadcumb"><ul><li><a href="default.aspx" alt=''>Trang chủ</a></li><li><a href="#" alt=''>Bảo hiểm sức khỏe toàn diện (BIC HealthCare)</a></li><li>Thông tin chung</li></ul></div>
    <!-- left menu -->
    <div id="ctl19_divleftSideBar" class="left_sidebar">
    </div>
    <!-- end left menu -->

    <div class="row">
        <div class="col-lg-9 col-md-8 col-sm-12">

            <div class="content_3col">
                <div id="ctl19_divdetail">
                    <p>
                        @*<div class="block_button top_button myriad_pro_semibold">
                            <a href="HealthInsurance/Information">CHARGE & ORDER</a></div>*@
                        

                        <button style="background-color:red;color:white" onclick="window.location.href = '/MedicalInsurance/Order'" type="button">

                          Charge & Order
                        </button>
                              <h1 class="myriad_pro_semibold">HEALTH INSURANCE AND PERSONAL ACCIDENT</h1>

                         <div style="display: block;  padding: 0px 10px 10px 10px;"

<p>
                        From February 15, 2020, BIDV Insurance Corporation issued another package of four new BIC Tam An health and personal accident insurance products. Some basic information of the new product is as follows:
                    </p>
                    <ul>
                        <p>1. Adding 2 packages of benefits lower than the Dong program (Basic and Standard package): with the aim of meeting customers with lower incomes who want to buy insurance as a tool to prevent risks risk of illness; especially in cases of inpatient treatment or low-cost outpatient coverage.</p>
                        <p>2. Adding 2 more high-limit maternity benefit packages (Platinum Plus and Diamond Plus)</p>
                    </ul>
                </div>
                <div style="width: 100%;">

                    <h1 class="myriad_pro_semibold">
                    </h1>
                    <div style="display: block;
    padding: 0px 10px 10px 10px;">
                        <p>
                            From January 1, 2019, BIDV Insurance Corporation has issued a new package of Personal Health and Accident Insurance named BIC INSURANCE. Some basic information of the new product is as follows:
                        </p>
                        <ul>
                            <p>
                                - New benefit table and fee schedule with 5 insurance programs for customers to choose.
                                Detailed in <a href="http://baohiemtructuyen.com.vn/bao-hiem-suc-khoe-bang-quyen-loi-bao-hiem" alt="" style="color: #5548C7;">Table Benefit</a>  and
                                <a href="http://baohiemtructuyen.com.vn/bao-hiem-suc-khoe-bieu-phi-bao-hiem" alt="" style="color: #5548C7;">Fee Insurance</a>
                            </p>
                            <p>
                                <span style="color: #ff0000;">- The preeminent feature of the product is the separate design of Inpatient benefits so that customers have more options when there is no need to participate in outpatient insurance and reduce insurance premiums for customers.</span>
                            </p>
                            <p>- Do not separate the cost limit of beds within the cost of inpatient treatment; The maximum benefit is up to VND 300 million / year, VND 7 million / day in the hospital</p>
                            <p>- Apply payment at all hospitals and clinics nationwide; No co-payments apply for all ages</p>
                        </ul>
                        <p>Detailed regulations on <strong>waiting time</strong> đfor each type of disease group. Special note:</p>
                        <ul>
                            <p>- Respiratory diseases including bronchitis, bronchiolitis, asthma / asthma, pneumonia of all kinds: waiting time for 06 months for children from 01 to 06 years old.</p>
                            <p>- Maternity: waiting period of 1 year for normal or caesarean birth, 280 days for maternity complications and 90 days for ectopic pregnancy.</p>
                            <p>- Chronic diseases, available diseases: 01 year.</p>
                            <p>- Common diseases not listed in the rule: 30 days.</p>
                        </ul>
                        <p>See details <a href="http://baohiemtructuyen.com.vn/bao-hiem-suc-khoe-huong-dan-boi-thuong" alt="" style="color: #5548C7;">Cases of non-compensation for the first year of insurance</a>. From the second insurance year onwards, BIC will pay normally for exclusions in the first year.</p>
                        <p>Time to file compensation: <span style="color: #ff0000;">within 30 days</span> from the last treatment day of each treatment session.</p>
                    </div>
                    <div style="width: 100%;">
                        <h2>Benefits when buying BIC Tam An Insurance</h2>
                        <ul>
                            <li>Pay up <strong>to 1 billion $ </strong> for accident cases;</li>
                            <li>Pay up <strong>to 2.5 million $ / 1 </strong> outpatient visit and treatment;</li>
                            <li>Pay up <strong>to 9 million $ / day </strong> inpatient treatment;</li>
                            <li>Pay up <strong>to  180 million $/ </strong>persurgery;</li>
                            <li>No medical examination is required prior to purchase;</li>
                            <li>Guarantee of hospital fees at major hospitals / clinics nationwide;</li>
                            <li>Compensation procedure is simple and fast.</li>
                        </ul>
                        <div style="display: block;
        padding: 0px 10px 10px 10px;">
                            <p>
                                From July 16, 2018, BIDV Insurance Corporation issued a new personal health and accident insurance product called BIC Tam An. Some basic adjustments of new products are as follows:
                            </p>
                            <ul>
                                <p>
                                    - New benefit table and fee schedule with 5 insurance programs for customers to choose.
                                    Detailed in <a href="http://baohiemtructuyen.com.vn/bao-hiem-suc-khoe-bang-quyen-loi-bao-hiem"
                                                   alt="" style="color: #5548C7;">Table Benefit </a> and <a href="http://baohiemtructuyen.com.vn/bao-hiem-suc-khoe-bieu-phi-bao-hiem"
                                                                                                            alt="" style="color: #5548C7;">Fee Insurance</a>
                                </p>
                                <p>
                                    <span style="color: #ff0000;">
                                        - Children between 1 and 6 years of age are required to purchase with a parent or a parent who has participated in at least 01 valid health insurance program at BIC. The children's insurance program is applied at the same or lower level than the Parent's Program.
                                    </span>
                                </p>
                                <p>- Do not separate the cost limit of beds within the inpatient hospital expense limit</p>
                            </ul>
                            Detailed regulations on <strong>waiting time</strong> for each type of disease group. Special note:
                            <ul>
                                <p>
                                    -The respiratory diseases include bronchitis, bronchiolitis, asthma / asthma, pneumonia of all kinds: waiting time for 06 months for children from 01 to 06 years old.
                                </p>
                                <p>- Maternity: waiting period of 1 year for normal or caesarean birth, 280 days for maternity complications and 90 days for ectopic pregnancy.</p>
                                <p>- Chronic diseases, available diseases: 01 year.</p>
                                <p>- Common diseases not listed in the rule: 30 days.</p>
                            </ul>
                            <p>See details <a href="http://baohiemtructuyen.com.vn/bao-hiem-suc-khoe-huong-dan-boi-thuong" alt="" style="color: #5548C7;">Cases of non-compensation for the first year of insurance</a>. From the second insurance year onwards, BIC will pay normally for exclusions in the first year.</p>
                            <p>Time to file compensation: <span style="color: #ff0000;">within 30 days</span> from the last treatment day of each treatment session.</p>
                        </div>
                        <div style="width: 100%;">
                            <h2>Product information</h2>
                            <ul>
                                <li>
                                    <a href="http://baohiemtructuyen.com.vn/bao-hiem-suc-khoe-bang-quyen-loi-bao-hiem"
                                       alt="" style="color: #5548C7;">Table of insurance benefits</a>
                                </li>
                                <li>
                                    <a href="http://baohiemtructuyen.com.vn/bao-hiem-suc-khoe-bieu-phi-bao-hiem"
                                       alt="" style="color: #5548C7;">Premium tariff </a>
                                </li>
                                <li>
                                    <a href="http://baohiemtructuyen.com.vn/bao-hiem-suc-khoe-huong-dan-boi-thuong"
                                       alt="" style="color: #5548C7;">Compensation guide </a>
                                </li>
                                <li>
                                    <a href="http://baohiemtructuyen.com.vn/bao-hiem-suc-khoe-danh-sach-benh-vien-lien-ket"
                                       alt="" style="color: #5548C7;">Affiliated hospital guarantees hospital fees</a>
                                </li>
                                <li>
                                    <a href="http://baohiemtructuyen.com.vn/bao-hiem-suc-khoe-download" alt="" style="color: #5548C7;">
                                        Download documents, forms
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div style="width: 50%; float: left;">
                        </div>
                        <div class="block_button myriad_pro_semibold">

                            @*<a href="https://localhost:44362/HealthInsurance/Information">CHARGE & ORDER</a>*@
                            <button style="background-color:crimson;color:white" onclick="location.href='/MedicalInsurance/Order'" type="button">
                                Charge & Order

                        </div>
                    </div>
                    <div><iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fbaohiemtructuyen.com.vn%2F&width=174&layout=button_count&action=like&size=large&share=true&height=46&appId" width="174" height="46" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe></div>
                </div>
                </p>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-12 col-right">
        <div class="accordion" id="menuaccordion">
            <div class="subdetail">
                <div id="ctl19_menu_right"><div class='sub-menuleft' id='menu-145'><a class='' href='' data-toggle='collapse' data-target='#submenu-145' aria-expanded='true' aria-controls='collapseOne'><span>Comprehensive health insurance (BIC HealthCare)</span></a></div><div id='submenu-145' class='collapsed' aria-labelledby='menu-145' data-parent='#menuaccordion'><ul class='menu-left'><li><a href='bao-hiem-suc-khoe' alt='' class='menuleft-act'>General information</a></li><li><a href='bao-hiem-suc-khoe-bang-quyen-loi-bao-hiem' alt=''> Insurance benefits</a></li><li><a href='bao-hiem-suc-khoe-bieu-phi-bao-hiem' alt=''>Premium tariff</a></li><li><a href='bao-hiem-suc-khoe-huong-dan-boi-thuong' alt=''> Compensation guide</a></li><li><a href='bao-hiem-suc-khoe-danh-sach-benh-vien-lien-ket' alt=''> List of affiliated health facilities that guarantee hospital fees</a></li><li><a href='bao-hiem-suc-khoe-download' alt=''> Download rules and forms</a></li><li><a href='https://localhost:44380/HealthInsurance/Information' alt=''> Charge & order</a></li></ul></div></div>
            </div>
        </div>
    </div>
</div>

<style>
    li {
        margin-top: 2%
    }

    td {
        padding: 15px;
    }

    .banner {
        width: 100%;
        height: 600px;
        background-image: url("https://opisy-gg.com/wp-content/uploads/2019/11/Medical-Insurance-Mental.jpg");
        background-position: center center;
        background-size: cover;
    }

    .subslide {
        max-width: fit-content;
        position: relative;
        margin: auto;
    }

    .shadow {
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
    }

    .breadcumb {
        display: none;
    }

    ul {
        list-style-type: none;
    }

    a {
        text-decoration: none;
        transition: all 0.15s ease-in-out;
        color: #0f75bd;
    }

    .main-content {
        padding-top: 20px;
    }

    .content_3col {
        background: #fff;
        border-radius: 7px;
        -moz-border-radius: 7px;
        padding: 15px 15px;
        font-family: "Roboto Condensed", "Open Sans", sans-serif;
        /*font-size: larger;*/
    }

    .block_button {
        margin-top: 20px;
        padding: 0px 0px 20px 0px;
    }

        .block_button a:hover {
            color: #004C50;
        }

        .block_button a {
            background: url(https://baohiemtructuyen.com.vn/images/content_block_button_bg.png) no-repeat;
            color: #FFF;
            font-size: 11px;
            padding: 5px 7px 6px 36px;
            text-transform: uppercase;
        }

    .myriad_pro_semibold a {
        font-weight: bold;
    }

    .content_3col h1 {
        color: #0f75bd;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 18px;
        padding-top: 0px;
        padding-bottom: 10px;
    }

    h1, h2, h3, h4, h5, h6 {
        line-height: normal;
    }

    .content_3col h2 {
        color: #485fc7;
        font-size: 14px;
        font-weight: bold;
        padding-top: 15px;
        padding-bottom: 10px;
    }

    .content_3col li {
        background: url(https://baohiemtructuyen.com.vn/images/sub_menu_bullet.png) no-repeat 0 11px;
        padding: 2px 0 5px 15px;
        font-size: 17px;
    }

    .content_3col h3 {
        color: #23527c;
        font-size: 12px;
        font-weight: bold;
        padding-top: 15px;
        padding-bottom: 5px;
    }

    #menuaccordion {
        margin-bottom: 15px;
    }

    .sub-menuleft {
        background-color: #0f75bd;
        padding: 12px 10px;
        font-family: serif;
        font-size: 17px;
        color: #fff;
        position: relative;
        border-bottom: solid 1px #fff;
    }

        .sub-menuleft a {
            color: #fff;
            background-image: url(https://baohiemtructuyen.com.vn/images/icon/arr_acc_act.png);
            background-repeat: no-repeat;
            background-position: right center;
            display: block;
            width: 100%;
        }

    .menu-left {
        padding: 0;
        margin: 0;
        border: solid 1px #d7d7d7;
        border-top: none;
    }

        .menu-left li {
            display: block;
            position: relative;
        }

            .menu-left li a.menuleft-act {
                font-weight: 700;
                color: #ea212d;
                background-color: #f5f5f5;
            }

        .menu-left > li > a {
            background-image: url(https://baohiemtructuyen.com.vn/images/ar1.jpg);
            background-repeat: no-repeat;
            background-position: 10px 16px;
        }

        .menu-left li a:hover {
            background-color: #f5f5f5;
            color: #ea212d;
        }

        .menu-left li a {
            padding: 10px 15px;
            display: block;
            border-bottom: dotted 1px #d7d7d7;
            font-size: 16px;
            font-family: "Roboto Condensed", "Open Sans", sans-serif;
            padding-left: 20px;
        }
</style>

