
@{
    ViewBag.Title = "Index";
}


<section>
    <div class="banner">

    </div>

</section>

<div class="container1" style="margin-left:10%;margin-right:10%;margin-top:5% ;margin-bottom:7%">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">

            <div class="">
                <div>
                    <p>
                        <div class="block_button myriad_pro_semibold">

                            @*<a href="/MotorInsurance/Order">CHARGE & ORDER</a>*@
                            <button style="background-color:red;color:white" onclick="location.href='/MotorInsurance/Order'" type="button">
            Charge & Order
                            </button>
                        </div>
                        <h1>CIVIL LIABILITY INSURANCE FOR MOTORCYCLE OWNERS</h1>


                        <h2 class="text-primary">The insured:</h2>
                        <ul>
                            <li><span style="margin-bottom:2%">Motorcycle owners participating in traffic on the territory of the Socialist Republic of Vietnam.</span></li>
                        </ul>
                        <h2 class="text-primary" style="margin-top: 2%;">Coverage:</h2>
                    <p>
                        BIC will compensate for loss of life and property to the third party on behalf of the owner of the vehicle (the party suffered damage caused by the owner's vehicle).
                    </p>
                    <h2 class="text-primary" style="margin-top: 2%;">Insurance benefits:</h2>
                    <p>BIC will compensate the third party for damage to life and property on behalf of the vehicle owner, the damage to the passengers to the maximum extent as follows: </p>
                    <ul>
                        <li>
                            Regarding people: maximum $60 / person / accident. Specifically:
                        </li>
                    </ul>
                    <table class="table-bordered" border="0" cellpadding="5" cellspacing="0" style="width:80%;">
                        <tr class="" style="text-align:left">
                            <td width="29%"><strong>Insurance benefits</strong></td>
                            <td width="71%"><strong>Maximum compensation level</strong></td>
                        </tr>
                        <tr>
                            <td>
                                Die by accident
                            </td>
                            <td class="">Pay full $10 / person / case</td>
                        </tr>
                        <tr class="">
                            <td>
                                Injury by accident
                            </td>
                            <td class="">Pay according to <a href="BsioData/document.pdf" class="normal" target="_blank" style="color:#5548C7">"Table of regulations on compensation for human damage"</a></td>
                        </tr>
                    </table>
                    <ul>
                        <li>Regarding assets: maximum of $50 / accident.</li>
                    </ul>

                    <h2 class="text-primary">Insurance fees:</h2>
                    <table class="table-bordered" width="80%" border="0" cellspacing="10" cellpadding="2">
                        <tr>
                            <td width="77%">
                                <strong>
                                    Species
                                </strong>
                            </td>
                            <td width="23%"><strong>Insurance fee (including VAT)</strong></td>
                        </tr>
                        <tr>
                            <td>Civil liability insurance</td>
                            <td><div align="center"> $66</div></td>
                        </tr>
                        <tr>
                            <td>Civil liability insurance + Accident insurance for 2 people in the car (VND 10 million / person)</td>
                            <td><div align="center">$86</div></td>
                        </tr>
                    </table>
                    <h2 class="text-primary"style="margin-top:25px">Download documents and forms:</h2>
                    <ul>
                        <li><a href="BsioData/document.pdf" class="normal" target="_blank" style="color:#5548C7">Circular 22/2016 / TT-BTC of the Ministry of Finance </a> Stipulating rules, terms, fee schedule and compulsory liability of civil liability of motor vehicle owners.</li>



                    </ul>
                    <p>&nbsp;</p>
                    <h2 class="text-primary">See details</h2>
                    <ul>
                        <li><a href="http://baohiemtructuyen.com.vn/bao-hiem-trach-nhiem-dan-su-xe-may" alt="" style="color:#5548C7;">General information</a></li>
                        <li><a href="http://baohiemtructuyen.com.vn/bao-hiem-trach-nhiem-dan-su-xe-may-huong-dan-boi-thuong" alt="" style="color:#5548C7;">Compensation guide </a></li>
                    </ul>
                    <p>&nbsp;</p>
                    <div class="block_button myriad_pro_semibold">
                        <button style="background-color:crimson;color:white" onclick="location.href='/MotorInsurance/Order'" type="button">
                            Charge & Order
                        </button>
                    </div>
                    <div style="margin-top:30px;"></div>

                    <div><iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fbaohiemtructuyen.com.vn%2F&width=174&layout=button_count&action=like&size=large&share=true&height=46&appId" width="174" height="46" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe></div>
                </div>
            </div>
        </div>
    </div>
</div>


<style>

    li {
        margin-top: 2%
    }

    td {
        padding: 15px;
    }

    .subslide {
        max-width: fit-content;
        position: relative;
        margin: auto;
    }

    .shadow {
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
    }

    .main-content {
        padding-top: 20px;
    }

    .content_3col {
        border: 1px solid #d9d9d9;
        background: #fff;
        border-radius: 7px;
        -moz-border-radius: 7px;
        -webkit-border-radius: 7px;
        padding: 15px 15px;
        font-family: "Roboto Condensed", "Open Sans", sans-serif;

    }
    

        .content_3col h1 {
            color: #0f75bd;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 18px;
            padding-top: 0px;
            padding-bottom: 10px;
        }

        .content_3col h2 {
            color: #0f75bd;
            font-size: 14px;
            font-weight: bold;
            padding-top: 15px;
            padding-bottom: 10px;
        }

    .block_button {
        margin-top: 20px;
        padding: 0px 0px 20px 0px;
    }

    .banner {
        width: 100%;
        height: 600px;
        background-image: url(https://seenbyyou.com/wp-content/uploads/2019/10/modern-motorbike-insurance-service-company-logo-vector-13496017-735x400.jpg);
        background-position: center center;
        background-size: cover;
    }

    .block_button a {
        background: url(https://baohiemtructuyen.com.vn/images/content_block_button_bg.png);
        color: #FFF;
        font-size: 10px;
        padding: 5px 7px 6px 36px;
        text-transform: uppercase;
    }

    .myriad_pro_semibold a {
        font-weight: bold;
    }
</style>

