
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="jumbotron text-center" style="margin-top:30px; color: seagreen">
        <img src="https://cdn1.iconfinder.com/data/icons/basic-ui-elements-color-round/3/15-512.png" width="10%" alt="Alternate Text" />
        <div class="text-notice"><label>Thank you for your order!</label></div>
        <div class="text-notice1"><label>We will contact you soonest. Good bye and see you again.</label></div>
        <div><button class="btn btn-info text-notice2"><a href="/home">Home Page</a></button></div>
    </div>

</div>

<style>
    .text-notice {
        font-size: 35px;
        margin-top: 20px;
    }

    .text-notice1 {
        font-size: 25px;
        margin-bottom: 20px;
    }

    .text-notice2 {
        font-size: unset;
    }

    a {
        text-decoration: none !important;
        color: white;
    }
</style>
